td {
    color:black;
}
th {
    color:black;
}
h2 {
    font-family:arial;
}
h1 {
    text-align:center;
    font-family: Helvetica;
}
html { 
  background: url(blue1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}
.title {
    padding-top: 10px;
    font-size:35px;
}

